
:root {
    --green: #4f6c61;
    --dark: #273624;
    --background: #fffcf5;
    --accent: #f4f3ee;
}

* {
    background-color: var(--background);
}
body {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

header p {
    margin-left: 30px;
}
.hidden {
    display: none;
}

.visable {
    display: block;
}
#two span {
    border-top: var(--green) solid 2px;
}
button {
    border: none;
      background-color: var(--dark);
      border-radius: 15px;
      color: var(--accent);
      display: block;
      text-align: center;
      padding: 5px 8px;
      margin-top: 5px;
    }
#start {
    margin: 30px;
}
    ol {
        margin: 30px;
    }

h1 {
    margin: 15px;
}